
@{
    ViewBag.Title = "LoginSto";
}

<h2><img src="~/images/password.png" width="50" /><label color: #fff;> 店家會員登入</label></h2>

<form action="@Url.Action("LoginSto")" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h4><span class="control-label col-md-2 glyphicon glyphicon-circle-arrow-right"> 請輸入帳號:</span></h4>
            <div class="col-md-10">
                <input type="text" id="userid" name="userid"
                       required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <h4><span class="control-label col-md-2 glyphicon glyphicon-circle-arrow-right"> 請輸入密碼:</span></h4>
            <div class="col-md-10">
                <input type="password" id="pwd" name="pwd"
                       required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登入" class="btn btn-info btn-sm" />@*&nbsp;@Html.ActionLink("忘記密碼", "Index")*@
                <hr />
                @ViewBag.Message
            </div>
        </div>
    </div>
</form>

