
@{
    ViewBag.Title = "NoScore";
}

<h2><label color: #fff;>目前尚未評價~</label></h2>
<div>
    <button type="button" class="btn btn-link" style="font-size:medium" onclick="location.href='@Url.Action("HistoryOrder", "Order")'">
        <span class="glyphicon glyphicon-hand-left"></span> 返回
    </button>
</div>

